<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search City" name="city" [(ngModel)]="location">
  </form>
</div>

<div class="container" *ngIf="myweather">
  <div class="upperdata">
    <img src="../assets/Hot.jpg" *ngIf="temperature > 15" >
    <img src="../assets/Cold.jpg" *ngIf="temperature<=15" >
    <div class="weatherdata">
      <div class="location">{{myweather.name}}</div>
      <div class="temperature">{{temperature | number: '1.0-0'}}°C</div>
    </div>
  </div>
  <div class="lowerdata">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/cold.png">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{myweather.main.temp_min | number: '1.0-0'}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/summer.png">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{myweather.main.temp_max | number: '1.0-0' }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Humidity.png">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{myweather.main.humidity}}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.jpg">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{myweather.wind.speed}}km/h
        </div>
      </div>


    </div>

  </div>
</div>


<router-outlet></router-outlet>

